<mat-toolbar class="toolbar">
    <button class="toolbar-buttons"
            mat-raised-button
            color="primary"
            (click)="goBack()">Cancel</button>
</mat-toolbar>
<div class="main-container"
     fxLayoutAlign="center center"
     fxLayout="column">
    <div class="question1Div"
         fxLayout="row"
         fxLayoutAlign="space-between">
        <span>Question 1</span>
        <span *ngIf="isActive">Right Eye</span>
    </div>
    <p class="question1Words">
        Please record the gross retinoscopy (i.e without removing the working distance) in the box <br><br>
        You may provide your answer in positive or negitice cylender format as a power cross.
        <br><br>
        DO NOT ENTER YOUR FINAL PRESCRIPTION HERE
    </p>
    <div class="question1Main"
         fxLayoutGap="2vh"
         fxLayout="column">
        <div class="question1MainBox"
             fxLayout="row"
             fxLayoutAlign="space-between center">
            <span>Rotate Power Cross then complete power fields</span>
            <span clas="active-cls"
                  *ngIf="isActive">Active
            </span>
        </div>
        <div class="question1RotateBox"
             fxLayout="column" fxLayoutGap="6vh">
            <div class="rotateButtons"
                 fxLayoutAlign="space-between">
                <button mat-raised-button
                        color="primary">Rotate + 5</button>
                <button mat-raised-button
                        color="primary">Rotate - 5</button>
            </div>
            <div class="rotateImageDiv" fxLayoutAlign="center center">
                <button mat-raised-button
                        color="primary" class="powerTopButton">Power</button>
                <img src="../../../../assets/images/cartPlane.png" class="rotateImage">
                <button mat-raised-button
                        color="primary" class="powerRightButton">Power</button>
            </div>
            <div>
                <button class="resetButton"
                        mat-raised-button
                        color="primary">Reset to 90</button>
            </div>
        </div>
    </div>
    <div class="question1Alternative"
         fxLayout="column"
         fxLayoutAlign="space-between center">
        <div class="alternate1Box"
             fxLayout="row"
             fxLayoutAlign="space-between center">
            <span>Alternatively enter your answer using Spherocylinder format</span>

        </div>
        <div class="alterntiveInputs"
             fxLayoutGap="20px" fxLayoutAlign="center center">
            <input placeholder="Sphere"
                   class="sphereInput"
                   (click)="openDialog()">
            <input placeholder="Cylender"
                   class="cylenderInput"
                   (click)="openDialog()">
            <input placeholder="Axis"
                   class="axisInput"
                   (click)="openDialog()">
        </div>

    </div>
</div>