<div class="selectedValues">
    {{targetValue}}
</div>
<div class="powerSelection"
     fxLayout="row"
     fxLayoutGap="30px">
    <div fxLayout="column">
        <div class="plusminus"
             *ngFor="let sign of plusMinus"
             fxLayoutAlign="center center"
             (click)="appendPlusMinus(sign)">
            {{sign}}
        </div>
    </div>
    <div fxLayout="column">

        <div class="zeroToTen"
             *ngFor="let number of zeroToTen"
             fxLayoutAlign="center center"
             fxLayout="column"
             (click)="appendZeroToTen(number)">
            {{number}}
        </div>

    </div>
    <div fxLayout="column">
        <div class="decimalClass"
             *ngFor="let deci of decimalFloat"
             fxLayoutAlign="center center"
             fxLayout="column"
             (click)="appendDecimal(deci)">
            0{{deci}}
        </div>
        <div class="closeButtonDiv">
            <button class="closeButton"
                    mat-raised-button
                    color="warn"
                    (click)="setAppropriatePowerValue()"
                    [mat-dialog-close]="targetValue">Close</button>
        </div>

    </div>