.plusminus{
height:4vh;
margin-bottom:1vh;
width:2vw;
border:1px solid black;
}
.selected{
    height:4vh;
margin-bottom:1vh;
width:2vw;
border:1px solid black;
    background: rgb(255, 251, 0);
}
.plusminus:hover{
    background-color: yellow ;
    cursor: pointer;
}

.zeroToTen:hover{
    background-color: yellow ;
    cursor: pointer;

}
.decimalClass:hover{
    background-color: yellow ;
    cursor: pointer;

}
.zeroToTen{
height:4vh;
margin-bottom:1vh;
width:2vw;
border:1px solid black;
}
.yelloBoxClass
{
    height:4vh;
margin-bottom:1vh;
width:2vw;
border:1px solid black;
background-color: yellow;
}
.decimalClass{
height:4vh;
margin-bottom:1vh;
width:3vw;
border:1px solid black;
}
.selectedValues{
    width:80%;
    height:4vh;
    border:1px solid black;
    margin: auto;
}
.powerSelection{
    margin-top: 2vh;
    display: flex;
    position: relative;
}
.plusminusContainer{
    display: flex;
    flex-direction: column;
}
.closeButtonDiv{
    position: absolute;
    bottom: -83px;
    left: 5vw;
}