<mat-toolbar class="toolbar">
    <button class="toolbar-buttons"
            mat-raised-button
            color="primary"
            (click)="goBack()">Cancel</button>
</mat-toolbar>

<div class="main-container"
     fxLayout="column"
     fxLayoutGap="20px"
     fxLayoutAlign="space-between center">

    <div class="question3Box">
        <span> Question 3</span>
    </div>

    <div class="question3Words">
        Please correct your retinoscopy for your working distance and record your final prescription in positive or
        negitive cylinder format in the box
    </div>
    <div class="question3MainBox">
        <span>Enter your final prescription in Spherocylinder format</span>
    </div>
    <div class="question3MainInputs">
        inputs here
    </div>
    <div class="answerFromQuestion1"
         fxLayout="column">
        <span class="answerFromQuestion1Box"> Your answer from question 1</span>
        <span class="answer1">{{myAnswers1}}</span>
    </div>
    <div class="answerFromQuestion2"
         fxLayout="column">
        <span class="answerFromQuestion2Box"> Your answer from question 2</span>
        <span class="answer2">{{myAnswers2}}</span>
    </div>
</div>